<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion IPAM</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="container">
        <h1>Gestion des IPs</h1>
        <form id="ipForm">
            <div class="form-group">
                <label for="ip">IP:</label>
                <input type="text" class="form-control" id="ip" required>
            </div>
            <div class="form-group">
                <label for="hostname">Hostname:</label>
                <input type="text" class="form-control" id="hostname" required>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
        <h2>Liste des IPs</h2>
        <table class="table" id="ipTable">
            <thead>
                <tr>
                    <th>IP</th>
                    <th>Hostname</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Les lignes seront ajoutées dynamiquement par JavaScript -->
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>